* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}



button, input[type="text"] {
    padding: 5px;
}
  
button:hover {
    cursor: pointer;
}

.articles {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.articles > li {
    margin-bottom: 20px;
    border: 1px solid  rgb(196, 190, 190);
    padding-bottom: 20px;
    width: 100%;
  }

.article-title {
    background-color: rgb(196, 190, 190);
    font-size: 30px;
}

.rating {
    margin-top: 15px;
}

.article-description {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid lightgray;
}

form {
    position: relative;
}

.hidden {
    display: none;
}

.title-creator {
   
    display: inline-block;
}

.Create-Title {
    width: 100%;
    line-height: 38px;
    font-size: 35px;
    font-weight: 300;
    color: #565656;
    text-align: center;
    letter-spacing: 0;
    margin: 0 auto 45px;
}

.bookmarks-ribbon {
    width: 100%;
    line-height: 38px;
    font-size: 35px;
    font-weight: 300;
    color: #565656;
    text-align: center;
    letter-spacing: 0;
    margin: 0 auto 45px;
    margin-top: 25px;
}

input[type="text"],
button[type="submit"] {
    height: auto;
}

.container-two {
    height: 200px;
}


.container-two,
input[type="text"],
button[type="submit"]{
  display: block;
  width: 100%;
  font-size: 18px;
  text-align: left;
  padding: 15px;
  border: 2px solid #c9c6c6;
  border-radius: 3px;
  background: #fcfcfc;
  margin: 10px auto 20px;
}

button[type="submit"] {
    height: auto;
    font-size: 22px;
    text-align: center;
    background:  rgb(196, 190, 190);
    border: 0;
    margin-bottom: 0;
  }